*.iml
.gradle
.kotlin/
.idea/
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
keystore.*

# Module build dirs
app/build/
shared/build/

# Xcode
xcuserdata/
*.xcworkspace/xcuserdata/
iosApp/iosApp.xcodeproj/project.xcworkspace/
iosApp/iosApp.xcodeproj/xcuserdata/

